<% flash.each do |name, msg| %>
  <% if flash[:notice] %>
    <div class="flash-msg notice">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= msg %>
    </div>

  <% else %>
    <div class="flash-msg alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= msg %>
    </div>
  <% end %>
<% end %>